@import url('https://fonts.googleapis.com/css2?family=Anton&family=Michroma&display=swap');

body {
    background: black;
    background-size: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: blanchedalmond;
  }
  body hr { 
      width: 100px;
  }
  
  .top-container {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
  }
  
  .baslangic {
    padding: 10px 16px;
    background: black;
    color: #f1f1f1;
  }
  
  .butonlar {
    cursor: pointer;
    overflow: hidden;
    padding: 10px 16px;
    background-color: #32a852;
    text-align: center;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  .content {
    padding: 16px;
  }
  
  .bas {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .mich {
    font-family: 'Anton', sans-serif;
    font-family: 'Michroma', sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }

  #verticle {
    border-left: 4px solid cornflowerblue;
    height: 200px;
    position: absolute;
    left: 50%;
    margin-left: -2px;
    top: 30px;
}
